body {
	background-image: url("https://images8.alphacoders.com/863/thumb-1920-863002.jpg");

}

.hovedside{
	background-image: url("https://images8.alphacoders.com/863/thumb-1920-863002.jpg");
	color: white;
	border: 2px solid white;
	border-radius:12px0;
	padding: 5px;
	font-size: 800%;
	text-align: center;
}

.socialsheader{
	color: white;
	border: 2px solid white;
	border-radius:12px0;
	padding: 5px;
	font-size: 800%;
	text-align: center;

}

.tekst1{
	background:url("https://clipart-library.com/new_gallery/5-54710_fb-icon-png-facebook-logo-grey-circle.png");
	color: white ;
}



a:link, a:visited {
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
a:hover {
	background-color: #AAAAAA;
}



.c1 {

 ;
}
.c2 {
	 ;

}

.c3 {
	height: 1100px;
}