body {
    margin: 0;
    padding: 0;
}

.hovedside {
    background-image: url("Website.jpg");
    background-position: bottom;
    background-size: cover;
    font-size: 100%;
    text-align: center;
    height: 100vh;
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-attachment: fixed;
}

.hovedside h1 {
    color: white;
    padding-top: 20px;
}

/* Menycontainer */
.meny-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

/* Navigasjonsknapper */
.navbar_button {
    display: flex;
    gap: 10px;
}

.navbar_button a {
    border: 3px solid white;
    border-radius: 20px;
    color: black;
    font-family:'Times New Roman', Times, serif;
    font-weight: 999;
    background-color: white;
    padding: 10px;
    text-decoration: none;
    
}

.navbar_button a:hover {
    border: 3px solid black;
    background-color: grey;
}

/* Hamburger-meny */
.hamburger-menu {
    position: relative;
}

.menu-icon {
    font-size: 30px;
    color: white;
    padding: 10px;
    display: block;
}

.menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 40px;
    right: 0;
    width: 200px;
    
}

#menu-toggle {
    display: none;
}

#menu-toggle:checked + .menu-icon + .menu {
    display: flex;
}


.menu a {
    color: white;
    padding: 20px;
    text-decoration: none;
    font-family:'Times New Roman', Times, serif;
    font-weight: 999;
    background-color: rgb(0, 0, 0);
    
}

/* Midtinnhold */
.content {
    flex-grow: 1;
}

/* Sosiale medier nederst */
.sosial {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

